
.hero{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image:url(	https://html.hixstudio.net/acadia-prev/acadia/assets/img/slider/slider-5-bg-1.jpg);
}
.hero::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero1{
  
}

.slick-next{
  right: 15px!important  ;
}
.slick-next::before{
  background-color: red;

}

.logo{
  position: relative;
  display: inline-block;
}

.logo img{
  position: absolute;
    bottom: -3px;
    left: -3px;
}