
.hero{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image:url(	https://html.hixstudio.net/acadia-prev/acadia/assets/img/slider/slider-5-bg-1.jpg);
}
.hero::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card{
  width: 33.22%;
  text-align: center;
  border: 1px solid rgb(186, 185, 185);
}
.icon1{
  position: relative;
}
.icon1::before{
  content: "";
  position: absolute;
    bottom: 0;
    left: 233;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: yellow;
    z-index: -1;
}

.slick-next{
  right: 15px!important  ;
}
.slick-next::before{
  background-color: red;

}

.logo{
  position: relative;
  display: inline-block;
}

.logo img{
  position: absolute;
    bottom: -3px;
    left: -3px;
}
.hero1{
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image:url(	https://html.hixstudio.net/acadia-prev/acadia/assets/img/slider/slider-5-bg-2.jpg);
}
.hero1::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}